docker.enabled = true

params {
    input_tsv = null
    outdir      = "results"

    // fastq_rs filter
    filter {
        min_len   = null
        max_len   = null
        max_error = null
    }
}

profiles {

    '16s_nanopore_sup' {
        params {
            filter {
                min_len   = 1200
                max_len   = 1700
                max_error = 0.02
            }

        }
    }

    '16s_nanopore_hac' {
        params {
            filter {
                min_len   = 1200
                max_len   = 1700
                max_error = 0.05
            }
        }
    }

    '16s_nanopore_fast' {
        params {
            filter {
                min_len   = 1200
                max_len   = 1700
                max_error = 0.07
            }
        }
    }

}
