docker.enabled = true

params {
    input_tsv = null
    outdir      = "results"

    // fastq_rs filter
    filter {
        min_len   = null
        max_len   = null
        max_error = null
    }

    // amplipore classification
    classification {
    	cluster_pident = null
     	sintax_threshold = null
      	kmer_size = null
        window_size = null

    }

}

profiles {

    '16s_nanopore_sup' {
        params {
            filter {
                min_len   = 1200
                max_len   = 1700
                max_error = 0.02
            }

            classification {
                cluster_pident = 0.80
                sintax_threshold = 0.80
                kmer_size = 15
                window_size = 7
            }

        }
    }

    '16s_nanopore_hac' {
        params {
            filter {
                min_len   = 1200
                max_len   = 1700
                max_error = 0.05
            }

            classification {
                cluster_pident = 0.80
                sintax_threshold = 0.80
                kmer_size = 15
                window_size = 7
            }
        }
    }

    '16s_nanopore_fast' {
        params {
            filter {
                min_len   = 1200
                max_len   = 1700
                max_error = 0.07
            }

            classification {
                cluster_pident = 0.80
                sintax_threshold = 0.80
                kmer_size = 11
                window_size = 7
            }
        }
    }

}
